{% extends 'layout.html' %}
{% load events_extras %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="table-content">
	<table class="table center-block center-text">
		<tr>
			<th>JUGADORES</th>
			<th>GOLES</th>
		</tr>
		{% for item in listPlayer %}
		<tr style="background:{% cycle '#FFFFF0' '#C9C9C9' %} ">
			<td>{{ item.name }}</td>
			<td>{{ item.goals }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="pictures right">
	{% for item in link %}
		<figure class="image relative padding">
			<img src="{{MEDIA_URL}}pic/{{item.imagesource|cutstring:'/'}}" width="320" height="200" alt="">
		</figure>
	{% endfor %}
</div>
{% endblock %}